extends layout

block title
    title リスト一覧

block content
    include _index.html

block floatBtn
  a(href="./new.html").newListBtn.btn-floating.btn-large.waves-effect.waves-light.red
    i.material-icons add