extends layout.jade

block title
    title リスト作成

block content
    include _new.html

block floatBtn
    button(type="submit").newListBtn.btn-floating.btn-large.waves-effect.waves-light.red
        i.material-icons done_all