// all
.newListBtn,
.editBtn,
.doneBtn {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}
// リスト詳細
.edit_placeDaysRow,
.detail_placeDaysRow {
  margin-top: 20px;
  margin-bottom: 0;
}
#detail_place,
#detail_days {
  margin-bottom: 0;
  border: none;
}
// リスト作成
.edit_headerIcon,
.new_headerIcon {
  float: right;
}
.edit_placeDaysRow,
.new_placeDaysRow {
  margin-top: 20px;
}
//.new_tripItemRow,
//.edit_tripItemForm,
//.new_tripItemForm {
//  margin-bottom: 0;
//}
