extends layout.jade

block title
    title リスト詳細

block content
    include ./_detail.html

block floatBtn
    a(href="./new.html").newListBtn.btn-floating.btn-large.waves-effect.waves-light.red
        i.material-icons add